body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 40px;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  font-size: 18px;
  background-color: #11161f;
  flex: 1;
  position: sticky;
  top: 0;
}

header a {
  color: #e5e7eb;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
}

.logo a {
  color: #f9faf8;
}

header a:hover {
  text-shadow: 0px 0px 10px lightblue;
  transition-duration: 0.4s;
}

.links-right {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.start {
  display: flex;
  flex-wrap: wrap;
  background-color: #1f2837;
  padding: 130px 20px;
  justify-content: space-around;
  align-items: center;
}

.start h1 a:hover {
  text-shadow: 0px 0px 20px red;
  color: black;
  transition-duration: 1s;
}

.start-container1 {
  color: #e5e7eb;
  display: flex;
  flex-direction: column;
}

.start-container1 h1 a {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.start-container1 p {
  font-size: 18px;
  color: #e5e7eb;
}

.start-container1 button {
  border-radius: 12px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
}

.start-container1 button:hover {
  box-shadow: 0px 0px 15px lightblue;
}

.start-container1 button a {
  color: #1f2837;
}

.start-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-container2 a {
  color: #e5e7eb;
  font-size: 10px;
}

.start-container2 img {
  display: flex;
  width: 500px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 50px black;
}

.universe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 100px 0px;
}

.universe img {
  width: 200px;
  height: 200px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.universe-title-container {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
  margin-top: 0px;
}

.universe-content-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  flex-wrap: wrap;
}

.info-container a {
  color: #313135;
}

.artist-source {
  font-size: 10px;
}

.info-container img {
  border-radius: 25px;
  box-shadow: 0px 0px 20px #1f2837;
}

.quote-container {
  display: flex;
  flex-flow: column wrap;
  background-color: #e5e7eb;
  align-items: center;
  justify-content: center;
  padding: auto;
}

.quote-content-container {
display: flex;
flex-flow: column wrap;
padding: 150px 0px;
gap: 16px;
}

.phrase {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  margin: 0;
}

.author {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.end-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 100px 0px;
}

.ads-container {
  background-color: #3882f6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #11161f;
}

.ads-text-container {
  line-height: 0px;
  margin-right: 80px;
}

.ads-text-container h3 {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
  margin-bottom: 36px;
}

.ads-text-container p {
  font-size: 18px;
  color: #e5e7eb;
}

.ads-container button {
  padding: 12px 24px;
  border-radius: 5px;
  background-color: #3882f6;
  color: white;
  border: solid white 1px;
  font-weight: bold;
}

.ads-container button:hover {
  background-color: white;
  color: #3882f6;
  border: solid 1px #3882f6;
  transition-duration: 0.4s;
}

footer {
  display: flex;
  background-color: #11161f;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

footer a {
  color: #f9faf8;
}
